<div class="card">
  <div class="card-header">
    <h5>Create new Booking</h5>
  </div>
  <form [formGroup]="bookingForm" (ngSubmit)="save()">
    <div class="card-body">

      <div class="row mb-2">
        <div class="col">
          <!--id-->
          <label class="form-label">ID</label>
          <input type="number" formControlName="id" class="form-control"/>
        </div>
        <div class="col">
          <!--roomnumber-->
          <label class="form-label">Room Number</label>
          <input type="number" formControlName="roomNumber" class="form-control"/>
          <!--name Tag needed for ngModel-->
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-4">
          <!--name-->
          <label class="form-label">Guest Name</label>
          <input type="text" formControlName="name" class="form-control"/>
          <!--Alert with NgIF-->
          <!--<label *ngIf="bookingForm.get('name')?.hasError('minlength')" class="text-warning">Der Name ist zu
            kurz!</label>-->
        </div>
      </div>

      <div class="row mb-2">
          <div class="col-4">
            <div *ngIf="bookingForm.get('name')?.hasError('minlength')" class="text-danger">*Der Name ist zu
              kurz!</div>
          </div>
      </div>

      <div class="row">
        <div class="col">
          <!--startdate-->
          <label class="form-label">Start Date</label>
          <input type="date" formControlName="startDate" [value]="booking.startDate | date:'yyyy-MM-dd'"
                 (input)="dateChanged($event, true)"
                 class="form-control"/>
        </div>
        <div class="col">
          <!--enddate-->
          <label class="form-label">End Date</label>
          <input type="date" formControlName="endDate" [value]="booking.endDate | date:'yyyy-MM-dd'"
                 (input)="dateChanged($event, false)"
                 class="form-control"/>
          <!-- | date: .... damit Datum im Input angezeigt wird bei der Kalenderwahl-->
        </div>
      </div>
      <div class="card-footer">
        <button [disabled]="bookingForm.invalid" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>


